*/

!polybar/
!polybar/blocks

!nvim/
!nvim/lua
!nvim/lua/user



!awesome/
!scripts/



.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
kglobalshortcutsrc
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
