*/

!polybar/
!polybar/blocks


!nvim/
!nvim/lua
!nvim/lua/malte
!nvim/lua/malte/core
!nvim/lua/malte/editor
!nvim/lua/malte/plugins


!picom/
!picom/picom.conf


!awesome/
!scripts/

!images/
!images/notes.png
!images/python.png

!tmux/
!tmux/tmux/

.gsd-keyboard.settings-ported
QtProject.conf
gnome-initial-setup-done
kglobalshortcutsrc
mimeapps.list
monitors.xml
monitors.xml~
user-dirs.dirs
user-dirs.locale
zoom.conf
zoomus.conf
